# Git repo – required
DEPLOY_REPO=""

# Server root to project – required
DEPLOY_ROOT=""

# Assets folder – required
DEPLOY_ASSETS_DIR="uploads"

# Restart PHP if symlinks are cached – optional
DEPLOY_RESTART_PHP=""
